<div class="grid" *ngIf="avgHashrate1d > 0 && difficulty > 0">
  <div class="col-12 lg:col-6">
    <div class="card">
      <h5>Block Hit Chance (1d Avg Hashrate)</h5>
      <table class="w-full">
        <tr *ngFor="let p of probabilities">
          <td>{{p.period}}</td>
          <td class="text-right">{{(p.probability * 100) | number : '1.2-2'}}%</td>
          <td class="text-right">1:{{ (1 / p.probability) | number : '1.0-0' }}</td>
        </tr>
      </table>
    </div>
  </div>
  <div class="col-12 lg:col-6">
    <div class="card">
      <h5>Custom Hashrate</h5>
      <p class="mb-2">Enter hashrate in <strong>TH/s</strong>:</p>
      <input type="number" class="p-inputtext w-full mb-3" [(ngModel)]="customHashrate" (ngModelChange)="updateCustomProbabilities()" placeholder="Hashrate (TH/s)" />
      <table class="w-full" *ngIf="customProbabilities.length">
        <tr *ngFor="let p of customProbabilities">
          <td>{{p.period}}</td>
          <td class="text-right">{{(p.probability * 100) | number : '1.2-2'}}%</td>
          <td class="text-right">1:{{ (1 / p.probability) | number : '1.0-0' }}</td>
        </tr>
      </table>
    </div>
  </div>
</div>
