<div class="card">
    <h5>BTC Addresses</h5>
    <div class="p-inputgroup mb-3">
        <input [formControl]="newAddress" pInputText placeholder="New address" type="text">
        <button pButton label="Add" (click)="addAddress()" [disabled]="newAddress.invalid"></button>
    </div>
    <ul class="list-none m-0 p-0">
        <li *ngFor="let addr of addresses$ | async" class="mb-2 flex align-items-center justify-content-between">
            <span class="mr-2">{{addr}}</span>
            <ng-container *ngIf="addr === currentAddress; else switchBtn">
                <span class="font-bold">Current</span>
            </ng-container>
            <ng-template #switchBtn>
                <button pButton type="button" label="Switch" (click)="switchAddress(addr)"></button>
            </ng-template>
        </li>
    </ul>
</div>
<div class="card">
    <h5>Background Particles </h5>
    <p-inputSwitch [(ngModel)]="particlesValue" (ngModelChange)="particlesChanged($event)" optionLabel="label"
        optionValue="value"></p-inputSwitch>
</div>
<div class="card">
    <h5>Your Best Difficulty Card</h5>
    <p-inputSwitch [(ngModel)]="showBestDifficulty" (ngModelChange)="showBestDifficultyChanged($event)"
        optionLabel="label" optionValue="value"></p-inputSwitch>
</div>
<div class="card">
    <h5>Total Shares Card</h5>
    <p-inputSwitch [(ngModel)]="showTotalShares" (ngModelChange)="showTotalSharesChanged($event)" optionLabel="label"
        optionValue="value"></p-inputSwitch>
</div>
<div class="card">
    <h5>Network Difficulty Card</h5>
    <p-inputSwitch [(ngModel)]="showNetworkDifficulty" (ngModelChange)="showNetworkDifficultyChanged($event)" optionLabel="label"
        optionValue="value"></p-inputSwitch>
</div>
<div class="card">
    <h5>Network Hashrate Card</h5>
    <p-inputSwitch [(ngModel)]="showNetworkHashrate" (ngModelChange)="showNetworkHashrateChanged($event)" optionLabel="label"
        optionValue="value"></p-inputSwitch>
</div>
<div class="card">
    <h5>Block Height Card</h5>
    <p-inputSwitch [(ngModel)]="showBlockHeight" (ngModelChange)="showBlockHeightChanged($event)" optionLabel="label"
        optionValue="value"></p-inputSwitch>
</div>

