<div class="grid justify-content-center">
  <div class="col-12 md:col-6">
    <div class="card text-center">
      <h4>Current Blockreward</h4>
      <p><strong>Block Height:</strong> <span>{{ blockHeight }}</span></p>
      <p><strong>Block Reward:</strong> <span>{{ avgRewards }}</span> sats</p>
      <p><strong>BTC Price:</strong> ${{ priceUSD }} / €{{ priceEUR }} / CHF {{ priceCHF }}</p>
      <p><strong>Reward Value:</strong> ${{ rewardUSD | number:'1.2-2' }} / €{{ rewardEUR | number:'1.2-2' }} / CHF {{ rewardCHF | number:'1.2-2' }}</p>
    </div>
  </div>
</div>
