<div class="grid justify-content-center">
  <div class="col-12 md:col-6">
    <div class="card text-center">
      <h4>Next Difficulty Adjustment</h4>
      <p><strong>Current Network Difficulty:</strong> <span>{{ currentDifficulty }}</span>T</p>
      <p><strong>Current Hashrate:</strong> <span>{{ currentHashrate | hashSuffix }}</span></p>
      <p><strong>Difficulty Change:</strong> <span>{{ difficultyChange }}</span>%</p>
      <p><strong>Days Until Adjustment:</strong> <span>{{ estimatedDaysUntilAdjustment }}</span> days</p>
    </div>
  </div>
</div>
<div class="grid justify-content-center mt-3">
  <div class="col-12 md:col-6">
    <div class="card text-center">
      <h4>Estimated time until next halving</h4>
      <p><strong>Blocks Remaining:</strong> <span>{{ halvingBlocksRemaining }}</span></p>
      <p><strong>ETA:</strong> <span>{{ halvingEta }}</span></p>
    </div>
  </div>
</div>
